@{
  string title = ViewData["Title"] + (ViewData["Title"] != null ? "-" : "") + "BIGQX";
  string description = ViewData["Description"]?.ToString();
}

<head>
  <meta charset="UTF-8">
  <title>@ViewData["Title"] @(ViewData["Title"] != null ? "-" : "") BIGQX</title>
  
  <meta property="og:title" content="@title">
  <meta name="description" content="@description">
  <meta property="og:description" content="@description">
  <meta name="twitter:description" content="@description" />
  <meta name="twitter:title" content="@title@title">
  <meta name="robots" content="index, follow">
  <meta name="language" content="@LocalizationHelper.GetCode()">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#c11819">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#000">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  @if (System.Globalization.CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
  {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.rtl.min.css" integrity="sha512-SRg0d/3qeXy0utrb7F4+4jkFHhzdyvqjAd2i9ub0zWrPS80PoRaAtzmbMeVRYtApxoEcE6tcFZaHRY5UbwrTaw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800;900&family=Montserrat:wght@100;300;400;500;600;700;900&display=swap" rel="stylesheet">
  }
  else
  {
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  }
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
</head>